<%= on_title("Comments") %>

<div id="comments">
  <% for comment in comments %>
    <div class="comment" style="margin-bottom:10px; position:relative; border:1px solid #CCC; padding:5px">
      <% if current_user %>
      <div style="position:absolute; right:2px; top:1px;">
        <%= link_to_if current_user.id == @post.user.id || current_user.id == comment.user_id, "X",
          destroy_comment_profile_post_path(params[:user_id],params[:id], {:com => comment}), :method => :delete %>
      </div>
      <% end %>
      <p>
        <b><%= h comment.title %></b>
        <small>written by <%=h comment.user.nil? ? "???" : comment.user.username %> on <%= comment.created_at %></small>
      </p>
      <p><%= simple_format(comment.content) %></p>
    </div>
  <% end %>
</div>

<% if current_user %>
<div id="new_comment">
<%= on_title("New comment") %>
<% remote_form_for :comment,
  :url => create_comment_profile_post_path(params[:user_id],params[:id], {:com => comment}), :method => :post do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %> :<br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %>* :<br/>
    <%= f.text_area :content, :rows => 6, :cols => 60 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
</div>
<% else %>
<br/><br/>
<p style="border:1px solid #AAA; background:#EEEEEF; padding:4px;">Comments restricted to members only.</p>
<% end %>

