<li><%= tab_yield "Account", account_url %></li>
<li><%= tab_yield "Messages", account_messages_url %></li>
<li><%= tab_yield "Inbox", inbox_account_messages_url %></li>
<li><%= tab_yield "Outbox", outbox_account_messages_url %></li>
<li><%= tab_yield "Sent", sent_account_messages_url %></li>
<li><%= tab_yield "New", new_account_message_url %></li>