<% if @total == 0 %>
<p>No items found...</p>
<% else %>
<p><b><%= @total %> Users found.</b></p>

<table id="table-style-a">
  <thead>
    <tr>
      <th>Fullname</th>
      <% if current_user %>
      <th>Related friends</th>
      <th>Friendship</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td><%=h user.fullname %></td>
        <% if current_user %>
          <td><%= current_user.related_friends_count(user) unless current_user.id == user.id %></td>
          <td><%=  get_friendship(current_user, user) %></td>
        <% end %>
        <td><%= link_to "Show", profile_url(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>

<% end %>