<%= on_title "Recent activities" %>

<%= on_title "Last messages" %>

<%= on_title "Projects" %>

<%= on_title "Friends" %>
<div class="minimizable">
  <%= render :partial => "friendships/friends" %>
</div>
